body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    margin: 20px 0;
}

.title-image {
    width: 50%;
    max-width: 100%;
}

@media (max-width: 600px) {
    .title-image {
        width: 100%;
    }
}

#minesweeper {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    margin: 20px 0;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

p {
    margin: 20px 0;
}

.cell {
    width: 40px;
    height: 40px;
    background: url('images/covered.gif') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.cell.revealed {
    background: url('images/dirt.gif') no-repeat center center;
    background-size: cover;
    cursor: default;
}

.cell.mine {
    background: url('images/bomb.gif') no-repeat center center;
    background-size: cover;
}

.cell.flag {
    background: url('images/flag.gif') no-repeat center center;
    background-size: cover;
}

.cell.revealed[data] {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}