body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-gap: 1px;
    background-color: #ccc;
}